<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.proteus.sedemo">

    <!-- <uses-permission android:name="com.android.permission.WRITE_EMBEDDED_SUBSCRIPTIONS" -->
    <!-- tools:ignore="ProtectedPermissions" /> -->
    <!-- <uses-permission android:name="com.android.permission.BIND_EUICC_SERVICE" -->
    <!-- tools:ignore="ProtectedPermissions" /> -->
    <permission
        android:name="com.proteus.permission.SEDEMO"
        android:description="@string/permission_description"
        android:label="custom permission SEDEMO"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
    <uses-permission android:name="com.proteus.permission.SEDEMO" />

    <uses-feature android:name="android.hardware.nfc.hce" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/apduservice" />

        <service
            android:name=".HCEService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.cardemulation.host_apdu.service"
                android:resource="@xml/apduservice" />
        </service>
        <service
            android:name=".MessengerService"
            android:enabled="true"
            android:exported="true" />

        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
    </application>

</manifest>